.livecodes-wrapper {
	resize: both !important;
	overflow: hidden;
	padding:1em !important;
	border: 1px solid var(--interactive-accent) !important;
	background-color: var(--background-primary) !important;
	margin-bottom: 1em;
	border-radius: var(--size-2-3);
}

.open-with-livecodes-wrap {
	position: relative;
}

.open-with-livecodes-wrap:hover .open-with-livecodes-button {
	opacity: .8;
}

.open-with-livecodes-button {
	position: absolute;
	top: -15px;
	left: -15px;
	opacity: 0;
	transition: opacity 0.25s;
	cursor: pointer;	
	border-radius: 15px;
	padding: .5em;
}

.livecodes-prompt-modal input.prompt-input {
  width: 100%;
  padding: var(--size-4-6);
  background-color: var(--background-primary);
  font-size: var(--font-ui-medium);
  border: none;
  height: 40px;
  border-radius: var(--radius-m);
  border-bottom: none !important;
}

.livecodes-prompt-modal input.prompt-input:hover,
.livecodes-prompt-modal input.prompt-input:focus,
.livecodes-prompt-modal input.prompt-input:focus-visible {
  border-bottom: none !important;
	box-shadow: 0 0 0 3px var(--background-modifier-border-focus);
}

.buttons-wrapper {
	margin-top: 1em;
}

span.button-divider {
	display:inline-block;
	width:.3em;
	border-right:2px solid var(--color-base-30);
	margin-right:.2em;
	height:20px;
	margin-top:4px;
}

.choiceHidden {
	display:none;
}

.title-setting input,
.livecodes-settings-input input,
.livecodes-settings-input .search-input-container {
	width: 100%;
	min-width: 10em;
}
.scripts-setting textarea,
.stylesheets-setting textarea,
.head-setting textarea,
textarea.playground-editor-settings-textarea {
	width: 100%;
	font-family: monospace;
	font-size: var(--font-smaller);
	height: 12ch;
	margin-top: .25em;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}

.description-setting textarea,
.htmlattrs-setting textarea,
textarea.playground-editor-settings-textarea {
	width: 100%;
	font-family: monospace;
	font-size: var(--font-smaller);
	height: 5ch;
	margin-top: .25em;
  white-space: pre;
}

div.livecodes-external-resources-modal .stylesheets-setting,
div.livecodes-external-resources-modal .scripts-setting,
div.livecodes-editor-settings-modal .head-setting,
div.livecodes-editor-settings-modal .description-setting,
div.livecodes-editor-settings-modal .htmlattrs-setting {
	display: block;
}
