/**
 * playground wrapper
 */
body {
  --livecodes-wrapper-border-radius: var(--radius-m);
  --livecodes-wrapper-border-width: 1px;
  --livecodes-wrapper-border-style: solid;
  --livecodes-wrapper-padding: 1em;
}
body.theme-dark {
  --livecodes-wrapper-border-color: var(--interactive-accent);
  --livecodes-wrapper-background-color: var(--background-secondary);
}
body.theme-light {
  --livecodes-wrapper-border-color: var(--interactive-accent);
  --livecodes-wrapper-background-color: var(--background-primary);
}
.livecodes-wrapper {
  resize: both;
  overflow: auto;
  padding: var(--livecodes-wrapper-padding);
  border: var(--livecodes-wrapper-border-width) var(--livecodes-wrapper-border-style) var(--livecodes-wrapper-border-color);
  background-color: var(--livecodes-wrapper-background-color);
  margin-bottom: 1em;
  border-radius: var(--livecodes-wrapper-border-radius);
}
.download-file-link {
  display: none;
}
/**
 * playground modals
 */
 .modal-content.livecodes-help-modal code {
  font-size: var(--font-smaller)
 }
 .livecodes-help-modal:not(:has(button[data-prev])) {
  padding: 1rem;
 }
.livecodes-prompt-modal input.prompt-input {
  width: 100%;
  padding: var(--size-4-6);
  background-color: var(--background-primary);
  font-size: var(--font-ui-medium);
  border: none;
  height: 40px;
  border-radius: var(--radius-m);
  border-bottom: none !important;
}
.livecodes-prompt-modal input.prompt-input:hover,
.livecodes-prompt-modal input.prompt-input:focus,
.livecodes-prompt-modal input.prompt-input:focus-visible {
  border-bottom: none !important;
  box-shadow: 0 0 0 3px var(--background-modifier-border-focus);
}
.livecodes-editor-settings-modal .title-setting input {
  width: 100%;
}
.livecodes-external-resources-modal .setting-item-control:has(textarea),
.livecodes-editor-settings-modal .setting-item-control {
  justify-content: flex-start;
}
.scripts-setting textarea,
.stylesheets-setting textarea,
.head-setting textarea,
.description-setting textarea,
textarea.playground-editor-settings-textarea {
  width: 100%;
  font-size: var(--font-smaller);
  height: 10ch;
  margin-top: .25em;
}
.tags-setting textarea,
.htmlattrs-setting textarea,
textarea.playground-editor-settings-textarea {
  width: 100%;
  font-size: var(--font-smaller);
  height: 6ch;
  margin-top: .25em;
  white-space: pre;
}
div.livecodes-external-resources-modal .stylesheets-setting,
div.livecodes-external-resources-modal .scripts-setting,
div.livecodes-editor-settings-modal .head-setting,
div.livecodes-editor-settings-modal .description-setting,
div.livecodes-editor-settings-modal .tags-setting,
div.livecodes-editor-settings-modal .htmlattrs-setting {
  display: block;
}
div.livecodes-editor-settings-modal div.setting-item-description {
  margin-block-end: .5em !important;
  font-size: var(--font-smaller);
}
div.modal-button-notice {
  display: flex;
  flex: 1;
  gap: .5em;
}
.modal-button-notice-icon {
  color: var(--color-yellow);
}
.modal-button-notice-text {
  font-size: var(--font-smaller);
  color: var(--text-faint);
}
button.share-gist-button:disabled {
  background-color: var(--interactive-normal);
  cursor: not-allowed;
}
/**
 * settings
 */
.setting-item-heading-onboarding .setting-item-description {
  font-size: var(--font-smaller)
}
.setting-item-heading-onboarding .setting-item-name {
  color: var(--text-accent)
}
.setting-item-heading-onboarding {
  background-color: var(--background-secondary);
  border-radius: var(--size-2-3);
  padding: 1em .5em !important;
  margin-bottom: 1em;
}
.livecodes-settings-tab .setting-item-heading .setting-item-name {
  color: var(--text-faint);
}
.setting-item.livecodes-note-template-setting .setting-item-control textarea,
.setting-item.livecodes-gist-template-setting .setting-item-control textarea {
  width: 100%;
  height: 15ch;
}
.setting-item.livecodes-note-template-setting .setting-item-info,
.setting-item.livecodes-gist-template-setting .setting-item-info {
  max-width: min-content;
  flex-grow: 1;
}
.setting-item.livecodes-note-template-setting .setting-item-control,
.setting-item.livecodes-gist-template-setting .setting-item-control {
  align-items: start;
  flex-grow: 5;
}
.setting-item.livecodes-note-template-setting,
.setting-item.livecodes-gist-template-setting {
  align-items: start;
  gap: .75em;
}
.livecodes-reload-heading {
  /* border-bottom: 1px solid var(--background-modifier-border); */
}
.livecodes-reload-description {
  background-color: var(--background-secondary);
  border-radius: var(--size-2-3);
  padding: 1em .5em !important;
  border-top: 0;
  margin-top: 1em;
}
.livecodes-sponsorship-heading {
  /* border-bottom: 1px solid var(--background-modifier-border); */
}
.livecodes-sponsorship {
  background-color: var(--background-secondary);
  border-radius: var(--size-2-3);
  padding: 1em .5em !important;
  margin-top: 1em;
  text-align: center;
}
.livecodes-sponsorship a:has(svg) {
  display: inline-block;
}
.livecodes-sponsorship-button {
  margin: 10px;
}
.choiceHidden {
  display: none;
}
/**
 * status-message
 */
.livecodes-status-error.notice {
  background: #c10000;
  color: white
}
.livecodes-status-info.notice {
  background: hsl(204, 86%, 53%);
  color: white
}
.livecodes-status-success.notice {
  background: #629762;
  color: white
}
/* icons */
td:has(span[class$="-icon"]),
p:has(span[class$="-icon"]) {
  display: flex;
  gap: .5em;
}
span.info-icon {
  color: var(--color-blue);
}
span.notice-icon {
  color: var(--color-yellow);
}
span.alert-icon {
  color: var(--color-red);
}
span.default-icon {
  color: #000;
}
svg.indicator {
  fill: var(--interactive-accent);
}
/*
iframe.livecodes #external-resources-btn {
  display: none;
}
*/

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1em;
  width: 100%;
  flex-wrap: wrap;
}
.buttons-wrapper button {
  margin-inline: 0.25em;
  padding: .6em;
}
.button-highlight svg {
  stroke: var(--interactive-accent);
}
.button-highlight {
  box-shadow: 0 0 0 3px var(--interactive-accent);
}
div:has(> button[data-prev]) span {
  font-size: var(--font-smaller);
  color: var(--text-faint);
  display: inline-block;
  padding-block-start: .4em;
}
div:has(> button[data-prev]) {
  display: flex;
  gap: 2em;
  width: 100%;
  justify-content: center;
  margin-block-start: 2em;
}
.modal-content.livecodes-help-modal strong.code {
  color:var(--text-faint);
  font-family: var(--font-monospace);
}
.livecodes-sponsorship a:focus,
.setting-item-heading-onboarding a:focus,
.modal-content.livecodes-help-modal a:focus {
  box-shadow: 0 0 0 3px var(--background-modifier-border-focus);
  border-radius: var(--size-2-2);
}
/**
 *
 */
.steps-bullets {
  text-align: center;
  padding-block: .25em;
}
.steps-bullets ul {
  box-sizing: content-box;
  clear: both;
  margin: 0 auto 0;
  padding: 0;
  display:inline-block
}
.steps-bullets ul li {
  box-sizing: content-box;
  list-style: none;
  float: left;
  margin:0 3px
}
.steps-bullets ul li a {
  transition: width .1s ease-in;
  box-sizing: content-box;
  display: block;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}
.steps-bullets ul li a:focus, .steps-bullets ul li a:hover {
  /* width: 20px; */
  background: var(--interactive-accent);
  text-decoration: none;
  outline:0
}
.steps-bullets ul li a.active {
  width: 20px !important;
  background:#999;
  cursor: default;
}

table.templates-table td {
  padding: .5em .25em;
}
/* .livecodes-sponsorship, */
.livecodes-sponsorship,
[class$="-quick-select"],
[class$="-template-setting"],
.livecodes-reload-description,
.processor-toggle {
  display: none;
}
.clickable-icon.setting-editor-extra-setting-button:focus {
  box-shadow: 0 0 0 3px var(--background-modifier-border-focus);
}
.copy-icon:focus {
  box-shadow: 0 0 0 3px var(--background-modifier-border-focus);
  border-radius: var(--size-2-2);
}
.livecodes-sponsorship > div svg {
  width:28px;
  height: 28px;
  color:var(--color-red);
}
.livecodes-sponsorship > div {
  display: flex;
  gap: 1em;
  justify-content: center;
  font-size: 1.25em;
}
.livecodes-sponsorship div.sponsorship-message {
  font-size: unset;
  max-width: 333px;
  margin: .5em auto;
}






















/**
 * search
 */
div.search-form-heading {
  font-family: var(--font-interface);
  font-size: var(--font-ui-medium);
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}
div:has(.search-form-wrapper) {
  font-family: var(--font-interface);
}

.search-form-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5em;
  justify-content: center;
}
.search-input {
  width: 100%;
}

.search-results-wrapper {
  padding: 0;
}
.waiting-indicator {
  align-items: center;
  flex-wrap: nowrap;
  gap: .15em;
  justify-content: center;
  padding: 3em;
  fill: var(--interactive-accent);
}
.waiting-indicator svg {
  height: 25px;
}
.no-result {
  align-items: center;
  flex-wrap: nowrap;
  gap: .15em;
  justify-content: center;
  padding: .5em;
  margin-block-start: 1.5em;
  color: var(--color-base-60);
}



.result-row:hover {
  background-color: var(--color-base-25);
}
.result-row div:nth-child(1) {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: .15em;
  /* justify-content: center; */
}
.result-row div:nth-child(1) div:has(a) {
  display: inline-block;
  flex-grow: 1;
  flex-basis: 160px;
  width:100%;
  min-width: 0;
  font-size: var(--font-ui-small);
}
.result-row a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  border: 3px solid transparent;
  padding: var(--size-2-3);
  width: 100%;
}
.result-row a:focus {

  border: 3px solid var(--background-modifier-border-focus);
  border-radius: var(--size-2-3);
}
.result-row div:nth-child(1) div:has(button) {
  display: inline-block;
  padding: 0;
}
.result-row {
  padding: .2em;
  border: 1px solid var(--color-base-35);
  border-radius: var(--size-2-3);
  margin-block-end: .5em;
  position: relative;
}
.result-row div.result-row-stats {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  justify-content: space-between;
  font-size: var(--font-ui-small);
  color: var(--text-muted);
  /* color: var(--text-faint); */
  padding: var(--size-2-3);
}
div.result-row-stats span {
  color: var(--text-muted);
}
div.results-note {
  padding: .5em;
  margin-block-start: 1.5em;
  margin-block-end: .5em;
  font-size: var(--font-smaller);
  color: var(--color-base-60);
}

/* div.result-score {
  display:none;
}
div:has(div.result-score):hover > div.result-score {
  display: inline-block;
  position: absolute;
  top: calc(var(--size-4-3) * -1);
  left: calc(var(--size-2-3) * 2);
  font-size: var(--font-ui-smaller);
  color: var(--text-muted);
  background-color: var(--mono-rgb-100);
  border-radius: var(--size-2-3);
  padding-inline: .5em;
  padding-block: .25em;
  text-align: center;
} */

.no-omnisearch > p {
  display: flex;
  gap: 1em;
}
.no-omnisearch svg {
  color: var(--text-error);
}

.clear-input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.clear-input-button {
  position: absolute;
  background: transparent;
  border-radius: 50%;
  color: var(--search-clear-button-color);
  cursor: var(--cursor);
  top: 0px;
  right: 5px;
  bottom: 0px;
  line-height: 0;
  height: var(--input-height);
  width: 16px;
  height: 16px;
  margin: auto;
  padding: 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.15s ease-in-out;
  display: none;
}
.clear-input-button:after {
  content: '';
  height: var(--search-clear-button-size);
  width: var(--search-clear-button-size);
  display: block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12ZM3.8705 3.09766L6.00003 5.22718L8.12955 3.09766L8.9024 3.8705L6.77287 6.00003L8.9024 8.12955L8.12955 8.9024L6.00003 6.77287L3.8705 8.9024L3.09766 8.12955L5.22718 6.00003L3.09766 3.8705L3.8705 3.09766Z' fill='currentColor'/></svg>");
  mask-image: url("data:image/svg+xml,<svg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12ZM3.8705 3.09766L6.00003 5.22718L8.12955 3.09766L8.9024 3.8705L6.77287 6.00003L8.9024 8.12955L8.12955 8.9024L6.00003 6.77287L3.8705 8.9024L3.09766 8.12955L5.22718 6.00003L3.09766 3.8705L3.8705 3.09766Z' fill='currentColor'/></svg>");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.clear-input-button:hover,
.clear-input-button:active {
  color: var(--text-normal);
  transition: color 0.15s ease-in-out;
}

.clear-input--touched:focus + .clear-input-button,
.clear-input--touched:hover + .clear-input-button,
.clear-input--touched + .clear-input-button:hover {
 display: inline-flex;
}

.search-form-wrapper {
  transform: scale(1);
  display:flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: .5em;
  margin: 0px;
  box-sizing: border-box;
}

.search-form-input {
  flex: 3 1 175px;
  margin: 0px;
  box-sizing: border-box;
}

.search-button {
  flex: 1 1 25px;
}

.search-button svg {
  stroke: var(--color-base-60);
}
