---
created: {{date}}
{% if title %}title: "{{title}}"{% endif %}
{% if descProperty %}description: {{descProperty}}{% endif %}
{% if tagsList %}tags: {{tagsList}}{% endif %}
{% if obsidianUrl %}playground: {{obsidianUrl}}{% endif %}
---

{% if title %}## {{ title }}
{% endif %}

{% if descString %}{{ descString }}
{% endif %}

{% if tagsString %}{{ tagsString }}
{% endif %}

{% if head %}```html
{{ head }}
```
{% endif %}

{% if htmlAttrs %}```text
{{ htmlAttrs }}
```
{% endif %}

{% if stylesheetsList %}{{ stylesheetsList }}
{% endif %}

{% if scriptsList %}{{ scriptsList }}
{% endif %}

{% if cssPreset %}`{{ cssPreset }}`
{% endif %}

{% if markupCode %}```{{ markupLanguage }}
{{ markupCode }}
```
{% endif %}

{% if styleCode %}```{{ styleLanguage }}
{{ styleCode }}
```
{% endif %}

{% if scriptCode %}```{{ scriptLanguage }}
{{ scriptCode }}
```
{% endif %}

{# this is a nunjucks comment #}

{# https://mozilla.github.io/nunjucks/templating.html #}

%% this is an Obsidian markdown comment %%
